<!DOCTYPE html>
<html data-ng-app="AttestApp">
<head>        
    <title></title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                
                <a class="navbar-brand" href="#/Home">
                    <span class="glyphicon glyphicon-home"></span> 
                </a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                    <!--<li data-ng-hide="!authentication.isAuth"><a href="#/application">Process Application</a></li>-->
                    <!--<li data-ng-hide="!authentication.isAuth"><a href="#/refresh">Refresh Token</a></li>-->
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                    <!--<li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>-->
                    
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>AngularJS Authentication</h1>
            </div>
            <p>AngularJS Application which uses OAuth Bearer Token for authentication and implements Refresh Tokens. The backend API is built using ASP.NET Web API 2, OWIN middleware, and ASP.NET Identity.</p>
        </div>
    </div>-->
    <!--<div class="well well-lg">
        <div class="container">
           
        </div>
    </div>-->
        <div class="container">
            <div data-ng-view="">
            </div>
        </div>

        
        <div id="footer">
            <div class="container">
                <div class="row">                    
                    <div class="col-md-6">
                        <p style="text-align:justify" class="text-muted">Application © 2016</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3rd party libraries -->
        <script src="scripts/Lib/angular.min.js"></script>
        <script src="scripts/Lib/angular-route.min.js"></script>
        <script src="scripts/Lib/angular-local-storage.min.js"></script>
        <script src="scripts/Lib/loading-bar.min.js"></script>

        <!-- Load app main script -->
        <script src="scripts/App/app.js"></script>

        <!-- Load services -->       
        <script src="scripts/App/services/applicationService.js"></script>
        <script src="scripts/App/services/authInterceptorService.js"></script>
        <script src="scripts/App/services/authService.js"></script>
        <script src="scripts/App/services/saveRecordService.js"></script>
        <script src="scripts/App/services/webService.js"></script>

        <!-- Load controllers -->
        <script src="scripts/app/controllers/indexController.js?v=2"></script>
        <script src="scripts/app/controllers/homeController.js?v=2"></script>
        <script src="scripts/app/controllers/loginController.js?v=2"></script>
        <script src="scripts/app/controllers/signupController.js?v=2"></script>
        <script src="scripts/App/controllers/applicationController.js"></script>
        <script src="scripts/App/controllers/pendingAppController.js"></script>
        <!-- Load custom filters -->
        <!-- Load custom directives -->

</body>
</html>