<div class="container">
    <div>
        &nbsp;
    </div>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-1">Number</label>
            <input type="text" class="col-md-5 input-sm" data-ng-model="application.number" placeholder="Application Number" />
        </div>
        <div class="form-group">
            <label class="col-md-1">Date</label>
            <input type="date" class="col-sm-5 input-sm" data-ng-model="application.date" />
        </div>
        <div class="form-group">
            <label class="col-sm-1">For</label>
            <select class="col-sm-5 input-sm" data-ng-model="application.for">
                <option>Birth</option>
                <option>Marriage</option>
                <option>Death</option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-1">Name</label>
            <input type="text" class="col-sm-5 input-sm" data-ng-model="application.name" placeholder="Applicant Name" />
        </div>
        <div class="form-group">
            <label class="col-sm-1">Address</label>
            <textarea class="col-sm-5 input-sm" data-ng-model="application.address" placeholder="Applicant Address"></textarea>
        </div>
        <div class="form-group">
            <label class="col-sm-1">Mobile No</label>
            <input type="text" class="col-sm-5 input-sm" data-ng-model="application.mobile" placeholder="Applicant Mobile" />
        </div>
        <div class="form-group">
            <label class="col-sm-1">Fee</label>
            <div class="inline">
                <input type="number" class="input-sm" data-ng-model="application.searchFee" placeholder="Search Fee" />
                <input type="number" class="input-sm" data-ng-model="application.copyFee" placeholder="Copying Fee" />
                <input type="number" class="input-sm" data-ng-model="application.stampFee" placeholder="Stamp Fee" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1">Search</label>
            <div class="inline">
                <input style="width:240px" type="number" class="input-sm" data-ng-model="application.copies" placeholder="Number of Copies" />
                <input style="width:240px" type="number" class="input-sm" data-ng-model="application.years" placeholder="Search Years" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1">Receipt</label>
            <div class="inline">
                <input style="width:240px" type="number" class="input-sm" data-ng-model="application.receiptNo" placeholder="Receipt Number" />
                <input style="width:240px" type="date" class="input-sm" data-ng-model="application.receiptDate" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1">Refund</label>
            <input type="number" class="col-sm-5 input-sm" data-ng-model="application.refund" placeholder="Refund" />
        </div>
        <div class="form-group">
            <label class="col-sm-1">Signed on</label>
            <input type="date" class="col-sm-5 input-sm" data-ng-model="application.signDate" placeholder="Signature Date" />
        </div>
        <div class="form-group">
            <div class="col-sm-1"></div>
            <button class="btn btn-sm btn-info col-sm-5" type="submit" data-ng-click="submitApplication()">Submit</button>
        </div>
    </form>
</div>