<div class="container">
    <div>
        &nbsp;
    </div>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-1">Number</label>
            <input type="text" class="col-md-5 input-sm" data-ng-model="application.ApplicationNo" placeholder="Application Number" />
        </div>
        <div class="form-group">
            <label class="col-md-1">Date</label>
            <input type="date" class="col-sm-5 input-sm" data-ng-model="application.ApplicationDate" />
        </div>
        <div class="form-group">
            <label class="col-sm-1">For</label>
            <!--<select  data-ng-model="application.for">
                <option>Birth</option>
                <option>Marriage</option>
                <option>Death</option>
            </select>-->
            <select class="col-sm-5 input-sm" data-ng-model="application.Category">
                <option value={{ct.id}} ng-repeat="ct in certTypes">{{ct.value}}</option>
            </select>                        
        </div>
        <div class="form-group">
            <label class="col-sm-1">Name</label>
            <input type="text" class="col-sm-5 input-sm" data-ng-model="application.ApplicantName" placeholder="Applicant Name" />
        </div>
        <div class="form-group">
            <label class="col-sm-1">Address</label>
            <textarea class="col-sm-5 input-sm" data-ng-model="application.ApplicantAddress" placeholder="Applicant Address"></textarea>
        </div>
        <div class="form-group">
            <label class="col-sm-1">Mobile No</label>
            <input type="text" class="col-sm-5 input-sm" data-ng-model="application.ApplicantMobile" placeholder="Applicant Mobile" />
        </div>
        <div class="form-group">
            <label class="col-sm-1">Fee</label>
            <div class="inline">
                <input type="number" class="input-sm" data-ng-model="application.ApplicationFee" placeholder="Application Fee" />
                <input type="number" class="input-sm" data-ng-model="application.SearchFee" placeholder="Search Fee" />
                <input type="number" class="input-sm" data-ng-model="application.CopyingFee" placeholder="Copying Fee" />
                <input type="number" class="input-sm" data-ng-model="application.StampFee" placeholder="Stamp Fee" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1">Search</label>
            <div class="inline">
                <input style="width:240px" type="number" class="input-sm" data-ng-model="application.NoOfCopies" placeholder="Number of Copies" />
                <input style="width:240px" type="number" class="input-sm" data-ng-model="application.SearchYears" placeholder="Search Years" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1">Receipt</label>
            <div class="inline">
                <input style="width:240px" type="number" class="input-sm" data-ng-model="application.ReceiptNo" placeholder="Receipt Number" />
                <input style="width:240px" type="date" class="input-sm" data-ng-model="application.ReceiptDate" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1">Refund</label>
            <input type="number" class="col-sm-5 input-sm" data-ng-model="application.Refund" placeholder="Refund" />
        </div>
        <div class="form-group">
            <label class="col-sm-1">Signed on</label>
            <input type="date" class="col-sm-5 input-sm" data-ng-model="application.SignatureDate" placeholder="Signature Date" />
        </div>
        <div class="form-group">
            <div class="col-sm-1"></div>
            <button class="btn btn-sm btn-info col-sm-5" type="submit" data-ng-click="submitApplication()">Submit</button>
        </div>
    </form>
</div>