<!--<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br /><br />
            <h1><strong>Birth, Marriage or Death Certificates Management</strong></h1>
        </div>
    </div>
    <br /><br />
    <br /><br />
    <div class="row">
        <div class="col-sm-4">
            <a href="#/login">
                <div class="tile">
                    <h3 class="title">Login</h3>
                    <p>Login to system with credentials</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#/signup">
                <div class="tile">
                    <h3 class="title">Sign Up</h3>
                    <p>User Registration Process</p>
                </div>
            </a>
</div>
        <div class="col-sm-4">
            <a href="#/application">
                <div class="tile">
                    <h3 class="title">Process Application</h3>
                    <p>Start Processing an Application</p>
                </div>
            </a>
</div>
       
    </div>
    <!--<div class="row">
        <div class="col-sm-4">
            <div class="tile green">
                <h3 class="title">Green Tile</h3>
                <p>Hello Green, this is a colored tile.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile blue">
                <h3 class="title">Blue Tile</h3>
                <p>Hello Blue, this is a colored tile.</p>
            </div>
        </div>
    </div>-->
</div>