<div class="container">
    <div>
        &nbsp;
    </div>
    <form role="form">

        <div class="panel panel-default">
            <div class="panel-body">
                <!--<label class="col-sm-1">Date From</label>
                <input type="date" class="col-sm-2 input-sm" />
                <label class="col-sm-1">Date To</label>
                <input type="date" class="col-sm-2 input-sm" />
                <button class="btn btn-info">Filter</button>-->
                <div class="col-sm-9"></div>
                <div class="input-group input-sm col-sm-3">
                    <input type="Search" placeholder="Search By Application Number" class="form-control" />
                    <div class="input-group-btn">
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>          
          </div>            
        </div>
            
        <table class="table table-bordred table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <!--<th></th>-->
                    <th>App No</th>
                    <th>Date</th>
                    <th>For</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Mobile</th>
                    <th>Copies</th>
                    <th>Fee</th>
                    <th>Receipt</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="app in pendingApps | orderBy:'-applicationNo'">
                    <td>{{$index+1}}</td>
                    <td>{{app.id}}</td>
                    <!--<td><input type="checkbox" class="checkthis" /></td>-->
                    <td>{{app.applicationNo}}</td>
                    <td>{{app.applicationDate | date :'yyyy-MMM-dd'}}</td>
                    <td>{{app.certificateType}}</td>
                    <td>{{app.applicantName}}</td>
                    <td>{{app.applicantAddress}}</td>
                    <td>{{app.applicantMobile}}</td>
                    <td>{{app.noOfCopies}}</td>
                    <td>{{app.applicationFee}}</td>
                    <td>{{app.receiptNo}}</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-ng-click="EditApplication(app.id)"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Send Message"><button class="btn btn-success btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-envelope"></span></button></p></td>
                </tr>
            </tbody>
        </table>
        
    </form>
</div>